@mixin reset {
    padding: 0;
    border: 0 none;
    margin: 0;
    outline: 0;
}

@mixin one-line-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin line-clamp-ellipsis($lines) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    /*autoprefixer 默认会 删除此属性*/
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
 /* autoprefixer: on */
    -webkit-line-clamp: $lines;
}

@mixin one-border{
    content: ' ';
    display: inline-block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;

}

// unit mixin
@function unit($px) {
    @return $px/$rem-base-font * 1rem;
}

// unit mixin
@function unit-no-rem($px) {
    @if($px > 0) {
        @return max($px/2, 1px);
    } @else if ($px < 0) {
        @return min($px/2, -1px);
    } @else {
        @return 0;
    }
}