// @import "global.inline.css"
@import "vars.inline";
@import "utils.inline";
.book-cover-img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}
.new-dj-btn{
  text-align: center;
  font-size: unit(28px);
  padding: unit(40px);
}
.dj-btn, .more-none, .sc-btn, .sc-btn-more {
  margin: unit(24px);
  height: unit(70px);
  line-height: unit(70px);
  color: $color-primary;
  text-align: center;
  border-radius: unit(4px);
  font-size: unit(24px);
}
.loading-txt {
  text-align: center;
  color: $color-primary;
  text-shadow: unit(4px) unit(4px) unit(4px) #fff;
}
.loading-txt .reload {
  display: inline-block;
  color: $color-primary;
}
.loading-txt .txt{
  color: #999;
}
body{
	background: #fff;
}
#loading,.ssloading{
    position: fixed;
    display: block;
    top:50%;
    text-align: center;
    width: 100%;
    font-size: unit($size-font-large);
    color: $color-primary;
}
#loading{
  color: #2692FF;
}
.loadingCommon {
  height: unit(104px);
  line-height: unit(104px);
  display: -webkit-box;
  -webkit-box-pack: center;
  font-size: unit(28px);
  color: #777;
}
.loadingIcon {
  display: block;
  margin-top: unit(36px);
  margin-right: unit(16px);
  width: unit(32px);
  height: unit(32px);
  background: url(/assets/loading-book.gif) no-repeat;
  background-size: 100%;
}
