// ----------------------
// colours
// ----------------------
$color-primary: #2692FF;
$color-primary-dark: #0f9970;

// solid colors after applying opacity
$color-primary-70:#4cd9af;
$color-primary-50: #7fe4c6;
$color-primary-30: #b2efdd;
$color-primary-10: #e5f9f3;

// emphasis colors
$color-em-alert: #f30033; // delete, remove, exit
$color-em-success: #00c95e; // icon success
$color-em-regular: #73ACE6; // icon secondary links

// font colors
$color-font-primary: #333;
$color-font-secondary: #999;
$color-font-decorator: #ccc;
$color-font-top: #F9708D; // 置顶

// separator colors
$color-separator-line: #f2f2f2;
$color-separator-bar-bg: #f1f1f3;
$color-separator-line-reply: #e5e5e5;
$color-group-separator-line: #666;

// background colors
$color-bg: #fff;
$color-bg-empty-page: #e5e5e5;

// list colors
$color-list-bg-clicked: $color-bg-empty-page;

// button colors
$color-btn-default-bg: #e6e6ed;
$color-btn-default-bg-disabled: #e6e6ed;
$color-btn-default-bg-active: #cdced4;
$color-btn-default-font: $color-font-primary;
$color-btn-default-font-disabled: #c6c7cc;
$color-btn-em-bg: #01c98d;
$color-btn-em-bg-active: #0f9970;
$color-btn-em-bg-disabled: $color-btn-default-bg-disabled;
$color-btn-em-font: #fff;
$color-btn-em-font-disabled: $color-btn-default-font-disabled;
$color-btn-hollow-border: $color-primary;
$color-btn-hollow-font: $color-primary;
$color-btn-hollow-bg-active: rgba(1, 201, 141, .3);

// input colors
$color-input-border: #e5e5e5;

// night mode colors
$color-night-font-primary: #b3b3b3;
$color-night-form-separator-line: #444;
$color-night-form-bg: #333;
$color-night-form: #262626;

// semantic colors
$color-free: #FF8359;
$color-serial: $color-primary;
$color-serial-finished: $color-primary;
$color-star: #FFD24D;
$color-more: $color-free;
$color-search-em: $color-free;

// tag colors
$color-tag-default: $color-font-secondary;
$color-tag-1: #f9708d;
$color-tag-2: #ffa64d;
$color-tag-3: $color-star;
$color-tag-4: #9cf56e;
$color-tag-5: #71da83;

// tag border colors
$color-tag-default-border: rgba($color-tag-default, .3);
$color-tag-serial-border: rgba($color-primary,0.3);
$color-tag-serial-finished-border: rgba($color-primary,0.3);
$color-tag-1-border: rgba($color-tag-1,.3);
$color-tag-2-border: rgba($color-tag-2,.3);
$color-tag-3-border: rgba($color-tag-3,.3);
$color-tag-4-border: rgba($color-tag-4,.3);
$color-tag-5-border: rgba($color-tag-5,.3);

// free colors
$color-random-1: #7884e6;
$color-random-2: #b392e9;
$color-random-3: #e9adf3;
$color-random-4: $color-tag-1;
$color-random-5: $color-tag-2;
$color-random-6: $color-tag-3;
$color-random-7: $color-tag-4;
$color-random-8: $color-tag-5;

// book cover colors
$color-book-cover-border: rgba(0, 0, 0, .1);
$color-book-title: $color-font-primary;
$color-book-author: $color-font-secondary;

// indicator-dot
$color-indicator-dot: $color-primary;
$color-indicator-dot-inactive: #e6e6ed;

// highlight colors
$color-highlight-author-name: #70a7e3;
$color-highlight-reader-name: $color-font-secondary;

// badge colors
$color-badge-author-bg: rgba(#70a7e3, .7);
$color-font-badge-author: #fff;
$color-badge-top-bg: #f9708d;
$color-font-badge-top: #fff;

// thumbup colors
$color-thumbup-active: #00c96f;

// top comment colors
$color-top-comment-bg: #fafafc;

// author comment colors
$color-author-comment-bg: $color-top-comment-bg;
$color-author-comment-placeholder-color: #a9a9a9;
$color-author-comment-placeholder-bg: #fafafc;

// reader impression colors
$color-font-reader-impression: #fff;
$color-reader-impression-bg: rgba(0, 0, 0, .2);

// ----------------------
// sizing
// ----------------------

// text size
$rem-base-font: 50px * 2;

// line-height 44/40
$size-font-title-larger: 40px;
$size-font-title-large: 30px;

// light-height 40/32
$size-font-title: 26px;

// light-height 32
$size-font-large: 26px;
$size-font-regular: 24px;
$size-font-small: 22px;
$size-font-smaller: 20px;

// border-radius
$size-border-radius: 4px;

// book cover size
$width-book-large: 168px;
$height-book-large: 224px;
$width-book: 156px;
$height-book: 208px;
$width-book-small: 120px;
$height-book-small: 160px;
$width-book-smaller: 80px;
$height-book-smaller: 106px;

// book cover label size
$width-book-cover-label: 64px;
$height-book-cover-label: 96px;

// avatar size
$size-avatar: 100px;
$size-avatar-large: 112px;
$size-avatar-medium: 80px;
$size-avatar-small: 48px;
$size-avatar-smaller: 26px;
$size-avatar-radius: 50%;

// button size
$width-btn-small: 280px;
$height-btn-small: 80px;
$width-btn-large: 610px;
$height-btn-large: 88px;

// banner size
$width-banner-1: 640px;
$height-banner-1: 260px;
$width-banner-2: 640px;
$height-banner-2: 320px;
$width-banner-3: 640px;
$height-banner-3: 300px;
$width-banner-4: 640px;
$height-banner-4: 140px;
$width-banner-to-top-1: 640px;
$height-banner-to-top-1: 328px;
$width-banner-to-top-2: 595px;
$height-banner-to-top-2: 282px;
$width-banner-to-top-3: 640px;
$height-banner-to-top-3: 336px;
$width-banner-small: 290px;
$height-banner-small: 168px;
$width-banner-smaller: 206px;
$height-banner-smaller: 120px;
